#sidebar {
  --tw-translate-x: -100%;
}
#menu-close-icon {
  display: none;
}

#menu-open:checked ~ #sidebar {
  --tw-translate-x: 0;
}
#menu-open:checked ~ * #mobile-menu-button {
  background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
}
#menu-open:checked ~ * #menu-open-icon {
  display: none;
}
#menu-open:checked ~ * .icon {
  display: none;
}
#menu-open:checked ~ * #menu-close-icon {
  display: block;
}

#bg {
  background-image: url('/public/bg/wave.png'), url('/public/bg/wave2.png'), url('/public/bg/wave3.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top, center, bottom;
}

body {
  background-color: rgb(254, 234, 210);
}

.Button {
  background: #f15a24;
  color: #fff;
  border-radius: 8px;
}

.Button:hover {
  background: #fff;
  border: 1px solid rgb(241, 90, 36);
  color: #f15a24;
}

input:focus {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border: 2px solid rgb(241, 90, 36);
}

#simple-search::placeholder {
  text-align: center;
  font-size: 16px;
  color: #a3714f;
  font-weight: 500;
}

@media (min-width: 768px) {
  #sidebar {
    --tw-translate-x: 0;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}